<ul>
  <% @friends.each do |friend| %>
    <li id="friend_list_item"><%= link_to friend.name, friend_path(friend) %>: <%= friend.phone %> - <%= link_to "Edit", edit_friend_path(friend) %> | <%= link_to "Delete", friend_path(friend), method: :delete %></li>
  <% end %>
</ul>