// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: asset-data-url("floorboard.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

#body_container {


}


//// LANDING PAGE \\\\

// TITLE

h1#landing_page_title {
  text-align: center;
  margin-top: 20%;
  font-size: 5em;
  color: white;
  opacity: 0.9;
}

h3#landing_page_tagline {
  text-align: center;
  color: white;
/*  font-style: italic;*/
  display: inline;
  margin-left: 46%;
  margin-right: auto;

               
}

#birdhouse {
  margin-left: 10px;
  text-align: center;
  display: inline;

}

//// BOARD \\\\

// TITLE

h1#board_title {
  color: white;
  margin-bottom: 30px;

}

a.navbar-brand {
  padding-right: -30px;
}

#sparrow_icon {
  margin-top: -26px;
  margin-left: 70px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.alert { 
  margin-bottom: 0px;
}



// GROUPS

// CREATE BUTTON

a#create_group_btn.btn-lg {
  color: #ccc;
  background-color: transparent;
  border-color: #ccc;
  margin-left: 4em;
}

#new_group_hidden { 
  color: #F8F8F8;
  text-shadow: 0px 0px 3px #000;
  margin: 10px 0 10px;


  input[type=text] {
    margin-left: 5px;
    color: black;
  }
  input[type=checkbox] {
    margin-left: 10px;
    margin-right: 5px;
  }
  input[type=submit] {
    margin-left: 10px;
    color: black; 
  }
}



// GROUP COLUMN

#group_column {
  overflow: hidden;
  /*outline: solid;*/
  /*outline-color: black;*/

/*  width: 47%;*/
}

h3#groups_title {
  color: #F8F8F8;
  margin-left: 7em;
  margin-bottom: 1em;
}

#group_list {
  color: black;
  ul {
    margin: auto;
  }

  li {
    list-style-type: none;
  }
}


#group_block {
  text-align: center;
  margin-bottom: 2em;
  background-color: white;
  opacity: 0.7;
  border-radius: 7px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  
  li#sparrow_send {
    a {
      color: #297CCF;
      
    }
  }

  a {
    color: #297CCF;

  }
}

#group_name {
  font-size: 1.25em;
}

img.sparrow {
  margin-left: 6px;
  margin-bottom: 5px;


}

// FRIENDS

// CREATE BUTTON

a#create_friend_btn.btn-lg {
  color: #ccc;
  background-color: transparent;
  border-color: #ccc;
}

#new_friend_hidden {
  text-align: left;
  color: #F8F8F8;
  text-shadow: 0px 0px 3px #000;
  margin: 10px 0 10px;
  width: 100%;

  input[type=submit] {
    margin-left: 10px;
    color: black; 
  }
  input[type=text] {
    margin-right: 5px;
    margin-left: 5px;
    color: black;
  }
  label {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}

// FRIEND COLUMN

#friend_column {
  overflow: hidden;
  //outline: solid;
  //outline-color: black;

}

h3#friends_title {
  color: #F8F8F8;
  margin-left: 4.3em;
  margin-bottom: 1em;
}

#friend_list {
  color: black;

  ul {
    padding-left: 0px;
  }
  li {
    list-style-type: none;
  }
}

#friend_block {
  text-align: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 7px;
  width: 60%;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  #friend_name_phone{
    font-size: 1.15em;
  }

  input#friend_name {
    width: 40%;
  }

  input#friend_phone {
    width: 40%;

  }

  a {
    color: #297CCF;

  }
}





